.diary-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 200px;
    background-color: #202123; 
    padding: 20px;
    box-shadow: none; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar h1 {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
    color: #fff; 
    display: flex;
    align-items: center; 
    text-align: left;
    padding-left: 20px; 
}

.sidebar ul li .icon {
    margin-right: 10px; 
}

.sidebar ul li:hover {
    background-color: #3a3a3a; 
}

.diary-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #d4d4d4; 
    color: #202123;
}

.ledger-box {
    background-color: #74AA9C;
    color: #ffffff; 
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    height: 630px;
    width: 1150px;
    margin: auto; 
    text-align: left; 
    position: relative; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

.ledger-box h2 {
    margin: 0;
    font-size: 24px;
    padding-bottom: 10px; 
    width: 100%; 
    border-bottom: 2px solid #ffffff;
}

.ledger-content {
    width: 100%;
    margin-top: 40px;
}

.ledger-row {
    display: flex;
    width: 100%;
    margin-bottom: 10px; 
}

.header-row {
    font-weight: bold;
    margin-bottom: -30px; 
}

.ledger-column {
    padding: 10px;
    word-break: break-word;
    white-space: normal; 
    overflow-wrap: break-word;
    text-overflow: clip; 
}

.date-column {
    flex: 1; 
}

.diary-column, .emotion-column {
    flex: 2;
}

.ledger-column h3 {
    margin: 0 0 10px 0;
}

.emotion-column p {
    margin-bottom: -10px; 
    line-height: 1.2; 
}

.monthly-analysis-content {
    width: 100%;
    margin-top: 40px;
}

.monthly-analysis-content .header h3 {
    margin: 0;
    font-size: 24px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid #ffffff; 
}

.emotion-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: right;
}

.emotion-bar span {
    width: 100px; 
}

.bar {
    background-color: #ffffff; 
    color: #202123; 
    text-align: right; 
    padding-right: 5px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px; 
    margin-left: 10px; 
}

.summary {
    margin-top: 20px;
    font-size: 16px;
}
