.faq-button {
    position: fixed;
    bottom: 5vh;
    right: 0.5vw;
}

.faq-button-icon {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.faq-button-icon img {
    width: 4vw ;
    height: 4vw ;
}
