.faq-button {
    position: fixed;
    bottom: 5vh;
    right: 0.8vw;
}

.faq-button-icon {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.faq-button-icon img {
    width: 2.5vw ;
    height: 2.5vw ;
}
