.footer {
    background-color: #202123;
    color: white;
    text-align: center;
    height: 4vh; /* 4% of the viewport height */
    width: 100%;
    position: fixed; /* Fixed positioning */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
    font-size: 0.8rem; /* Use rem for font size */
}
