/* Slideshow container */
.hp-slideshow {
    width: 100%;
    height: 42vh; /* 40% of the viewport height */
    overflow: hidden;
    position: relative;
}

/* Slide container */
.hp-slide-container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

/* Individual slide */
.hp-slide {
    flex: 0 0 100%; /* Use flex-basis for responsive width */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Slide images */
.hp-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Arrow buttons */
.hp-slide-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 2vw; /* Use viewport width for responsiveness */
    color: white;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);
}

.hp-left-arrow {
    left: 2%;
}

.hp-right-arrow {
    right: 2%;
}

/* Slide dots for navigation */
.hp-slide-dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1vw; /* Increased gap between dots for better spacing */
}

/* Individual dot */
.hp-dot {
    width: 0.7vw; /* Responsive size for dots */
    height: 0.7vw; /* Responsive size for dots */
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}

.hp-dot.hp-active {
    background-color: #333;
}

/* Product introduction section */
.hp-product-introduction {
    text-align: center;
    height: 48vh; /* 45% of the viewport height */
    margin: 0.5vw 0; /* Adjusted margin to reduce space */
}

/* Heading styling */
.hp-product-introduction h1 {
    margin: 0;
    padding: 0.5vw 0; /* Adjusted padding to reduce space */
    font-size: 2rem;
    color: #333;
    padding-top: 1vw;
}

/* Content wrapper with flexbox */
.hp-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80vw;
    padding: 0vw 0; /* Reduced padding to minimize space */
}

/* Text box styling */
.hp-text-box {
    max-width: 26vw; /* Use viewport width for responsiveness */
    padding: 1vw; /* Added padding for better readability */
    margin: 0;
}

/* About image styling */
.hp-about-image {
    max-width: 20vw; /* Make the image smaller */
    height: auto;
    margin-left: 1vw; /* Add some margin to separate text and image */
}

/* Get started button container */
.hp-get-started-button-container {
    margin-top: 0vw;
    text-align: center;
}

/* Get started button styling */
.hp-get-started-button {
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 0.5vw 2vw;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

/* Button hover state */
.hp-get-started-button:hover {
    background-color: #333;
    color: #ddd;
}