/* Slideshow container */
.slideshow {
    width: 100%;
    height: 40vh; /* Use viewport height to make it responsive */
    overflow: hidden;
    position: relative;
}

/* Slide container */
.slide-container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

/* Individual slide */
.slide {
    flex: 0 0 100%; /* Use flex-basis for responsive width */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Slide images */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Arrow buttons */
.slide-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 2vw; /* Use viewport width for responsiveness */
    color: white;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);
}

.left-arrow {
    left: 2%;
}

.right-arrow {
    right: 2%;
}

/* Slide dots for navigation */
.slide-dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem; /* Gap between dots */
}

/* Individual dot */
.dot {
    width: 0.75rem;
    height: 0.75rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #333;
}

/* Product introduction section */
.product-introduction {
    text-align: center;
    padding: 0.5vw 0;
}

/* Content wrapper with flexbox */
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80vw;
    flex-wrap: wrap;
    position: relative; /* Add relative positioning */
    top: -3vw; /* Move the content up by 5vw */

}

/* Text box styling */
.text-box {
    flex: 1;
    max-width: 40ch;
    padding: 0.5vw;
    margin: 0;
    border-radius: 10px;
}

/* About image styling */
.about-image {
    flex: 1;
    max-width: 30vw;
    height: auto;
    margin: 0;
}

/* Heading styling */
.product-introduction h1 {
    margin: 0; /* Removed bottom margin */
    padding-bottom: 0.5vw; /* Added padding for control */
    font-size: 2rem;
}

/* Get started button container */
.get-started-button-container {
    margin-top: -5vw;
}

/* Get started button styling */
.get-started-button {
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 0.5vw 2vw;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

/* Button hover state */
.get-started-button:hover {
    background-color: #333;
    color: #ddd;
}
