
.slideshow {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.slide-container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;  /* Ensures each slide is the full width of the slideshow */
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 24px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.slide-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}

.dot:last-child {
    margin-right: 0;
}

.dot.active {
    background-color: #333;
}

.product-introduction {
    text-align: center;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    align-items: center; /* Keeps items aligned vertically in the center */
    justify-content: center; /* Centers items horizontally */
    margin: 0 auto; /* Centers the wrapper in the parent container */
    max-width: 1200px; /* Adjust based on your design needs */
    width: 100%; /* Ensures the wrapper uses the full width */
}

.text-box {
    max-width: 350px; /* Maximum width of the textbox */
    padding: 20px; /* Padding inside the textbox */
    margin-right: 20px; /* Adds space between the text box and the image */
    border-radius: 10px; /* Optional: Rounds the corners of the textbox */
    flex-shrink: 0; /* Prevents the text box from shrinking */
}

.about-image {
    width: 30%; /* Adjust based on your design preference */
    height: auto;
    flex-shrink: 0; /* Prevents the image from shrinking */
}

.product-introduction h1 {
    margin-bottom: -20px; /* Space below the heading */
}

.get-started-button {
    background-color: black; /* Button background color */
    color: white; /* Text color */
    font-size: 16px; /* Text size */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 25px; /* Fully rounded corners for a pill shape, adjust for less curvature */
    cursor: pointer; /* Cursor indicates button */
    display: block; /* Makes the button a block element */
    width: fit-content; /* Width according to content */
    margin: -10px auto; /* Centers the button horizontally */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.get-started-button:hover {
    background-color: #333; /* Darker shade on hover */
    color: #ddd; /* Lighter text on hover */
}