.paid-navbar {
    background-color: #202123;
    color: white;
    padding: 0 2vw; /* Adjusted for responsiveness */
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 6vh; /* Same as the navbar height */
}

.paid-navbar div {
    display: flex;
    align-items: center;
}

.paid-navbar-left, .paid-navbar-right {
    flex-grow: 1;
    display: flex;
}

.paid-navbar-right {
    justify-content: flex-end;
}

.paid-navbar a {
    color: white;
    text-decoration: none;
    margin: 0 1vw; /* Adjusted for responsiveness */
}

.paid-navbar a:hover {
    cursor: pointer;
}

.paid-navbar-logo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.paid-navbar-logo img {
    margin-right: 0.5vw; /* Adjusted for responsiveness */
    height: 4vh; /* Same height as the logo in the navbar */
}

.paid-navbar-logo span {
    font-size: 1.5vw; /* Adjusted for responsiveness */
    font-weight: bold;
}

.user-icon {
    height: 2vh; /* Adjusted for responsiveness */
    margin-right: 0.5vw; /* Adjusted for responsiveness */
}
