.product-page {
    /* background-size: 1200px 800px;
    background-position: 200px 55px; */
    background-image: url('./pictures/product_background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 250px;
    max-width: 1100px; 
    margin: 0 auto; 
    padding: 0px;
}

.service {
    border-radius: 8px; 
    padding: 20px; 
    text-align: center; 
}

.service h2 {
    color: #333;
}

.service p {
    color: #666; 
    line-height: 1.6;
}

#service4 { 
    margin-top: 0px; 
}

#service2 { 
    margin-top: 70px;
}

#service1 { 
    margin-top: 35px; 
}

#service3 { 
    margin-top: 35px; 
}
