.navbar {
    background-color: #202123;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 6vh; /* 6% of the viewport height */
}

.navbar div {
    display: flex;
    align-items: center;
}

.navbar-left, .navbar-right {
    flex-grow: 1;
    display: flex;
}

.navbar-right {
    justify-content: flex-end;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    cursor: pointer;
}

.navbar-logo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.navbar-logo img {
    margin-right: 10px;
    height: 4vh; /* Adjust the height of the logo to fit within the navbar */
}

.navbar-logo span {
    font-size: 24px;
    font-weight: bold;
}
