.tv-transcribeVoicePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 10vh);
    background: #e0f2f1;
    padding: 2vw;
}

.tv-transcribeVoiceInputOutputContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center; /* Center the items horizontally */
    gap: 2vw;
}

.tv-inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.tv-transcribeVoiceInputContainer, .tv-transcribeVoiceOutputContainer {
    background: #74AA9C;
    padding: 2vw;
    border-radius: 10px;
    width: 30vw;
    height: 35vw;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tv-textarea {
    width: 100%;
    height: 45vh; /* Adjusted height to be shorter */
    padding: 1vw;
    border: none;
    border-radius: 5px;
    resize: none;
    background-color: white;
    color: black;
}

.tv-uploadContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #74AA9C;
    padding: 1vw;
    border-radius: 10px;
    width: 30vw;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 0.5);
}

.tv-uploadText {
    color: white;
    font-size: 1vw;
    margin-right: 1vw;
}

.tv-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
}

.tv-transcribeVoiceWordCount {
    font-size: 12px;
    color: white;
    margin-right: auto; /* Align to the left */
}

.tv-clearInputButton, .tv-convertButton {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5vw 1vw;
    cursor: pointer;
    font-size: 1rem;
    margin-left: auto; /* Align to the right */
}

.tv-clearInputButton:hover, .tv-convertButton:hover {
    background-color: #333;
}

.tv-transcribeVoiceTranscribeButton {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1vw 2vw;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out; /* Add transition for enlarging effect */
    align-self: center;
    margin-top: 0vw; /* Adjusted to center between boxes */
}

.tv-transcribeVoiceTranscribeButton:hover {
    transform: scale(1.1); /* Enlarge button on hover */
}

.tv-header {
    font-size: 2rem;
    font-weight: bold;
    margin: 2vw 0;
    text-align: center;
    color: #333;
}

.tv-label {
    color: white; /* Set label text color to white */
}

.tv-transcribeVoiceSaveDiaryButton {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5vw 1vw;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1vw;
}

.tv-transcribeVoiceSaveDiaryButton:hover {
    background-color: #333;
}

.tv-error {
    color: red;
    margin-top: 1vw;
}

.tv-transcribeVoiceFileName {
    color: white;
    font-size: 1rem;
    margin-top: 1vw;
}

.tv-transcribeVoiceUploadButton {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5vw 1vw;
    cursor: pointer;
    font-size: 1rem;
}

.tv-transcribeVoiceUploadButton:hover {
    background-color: #333;
}
