.user-profile-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 10vh);
}

.user-profile-main-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    background-color: #e0f2f1; 
}

.user-profile-card {
    background-color: white;
    box-shadow: 0 0 16px #74AA9C; /* Added shadow */
    border-radius: 1vw;
    padding: 2vh 4vw;
    width: 80%;
    max-width: 1000px;
    text-align: center;
}

.user-profile-section h1 {
    margin-top: -10vh;
    font-size: 2.4vw;
    padding-bottom: 1vh;
}

.subscription-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.subscription-item {
    margin: 0 2vw;
    display: flex;
    align-items: center;
}

.subscription-item span {
    margin-right: 1vw; 
}

.date {
    color: #74AA9C; 
}

.unsubscribe-button {
    background-color: #333; 
    color: #fff;
    padding: 1vh 2vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    margin-left: 2vw; 
}

.unsubscribe-button:hover {
    background-color: #555; 
}

.change-plan-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.change-plan-section span {
    margin-right: 1vw;
}

.plan-button {
    background-color: #333;
    color: #fff; 
    padding: 1vh 2vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    margin: 0 0.5vw;
}

.plan-button:hover {
    background-color: #555; 
}

.plan-button:disabled {
    background-color: #999;
    cursor: not-allowed;
}
