.user-profile-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.user-profile-main-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9; 
}

.user-profile-section {
    text-align: center;
    padding: 20px;
    width: 80%; 
    max-width: 1000px;
}

.user-profile-section h1 {
    margin-top: -200px;
    font-size: 24px;
    padding-bottom: 10px;
}

.subscription-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.subscription-item {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.subscription-item span {
    margin-right: 10px; 
}

.date {
    color: #74AA9C; 
}

.unsubscribe-button {
    background-color: #333; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px; 
}

.unsubscribe-button:hover {
    background-color: #555; 
}

.change-plan-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-plan-section span {
    margin-right: 10px;
}

.plan-button {
    background-color: #333;
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.plan-button:hover {
    background-color: #555; 
}
